table {
    border: 2px solid black;
    border-collapse: separate;
    border-spacing: 1px; /* adjust border spacing to match margin */
}

th, td {
    padding: 10px;
    border: 0px solid black;
    margin: 1px; /* add margin to table cells */
}

th {
    font-size: 18px;
    background-color: #f0f0f0;
}

tr:first-child th, tr:first-child td { /* target the first row */
    background-color: rgb(145, 165, 172);
}

tr:nth-child(odd) {
    background-color: #ccc;
}